.desktopMenuLight {
  color: #00306e;
}
.desktopMenuDark {
  color: white;
}

.contacts_div {
  padding: 20px;
  font-family: Roboto;
  margin-bottom: 70px;
}
.contactUs {
  font-size: 20px;
}

.logo_div {
  display: flex;
  gap: 20px;
}

.logo_div img {
  height: 40px;
  width: 40px;
}
.tagline {
  font-weight: 500;
}
